In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn

In [2]:
%%capture
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00363/Dataset.zip
!unzip Dataset.zipn

In [3]:
df = pd.read_csv('Dataset/Training/Features_Variant_1.csv', header=None)
df.head()

       0   1    2   3    4      5          6   ...  47  48  49  50  51  52  53
0  634995   0  463   1  0.0  806.0  11.291045  ...   0   0   0   0   0   1   0
1  634995   0  463   1  0.0  806.0  11.291045  ...   0   0   0   0   1   0   0
2  634995   0  463   1  0.0  806.0  11.291045  ...   0   0   0   0   0   1   0
3  634995   0  463   1  0.0  806.0  11.291045  ...   1   0   0   0   0   0   0
4  634995   0  463   1  0.0  806.0  11.291045  ...   0   0   1   0   0   0   0

[5 rows x 54 columns]

In [4]:
X_train, y_train = df.drop(columns=53), df[53]
X_train.head(), y_train.head()

(       0   1    2   3    4      5          6   ...  46  47  48  49  50  51  52
 0  634995   0  463   1  0.0  806.0  11.291045  ...   0   0   0   0   0   0   1
 1  634995   0  463   1  0.0  806.0  11.291045  ...   0   0   0   0   0   1   0
 2  634995   0  463   1  0.0  806.0  11.291045  ...   0   0   0   0   0   0   1
 3  634995   0  463   1  0.0  806.0  11.291045  ...   0   1   0   0   0   0   0
 4  634995   0  463   1  0.0  806.0  11.291045  ...   0   0   0   1   0   0   0

 [5 rows x 53 columns], 0    0
 1    0
 2    0
 3    0
 4    0
 Name: 53, dtype: int64)

In [5]:
from sklearn.preprocessing import StandardScaler

X_train =  pd.DataFrame(StandardScaler().fit_transform(X_train))

In [6]:
class LinearRegression:
    def __init__(self, learning_rate=0.01, epoches=10):
        self.learning_rate = learning_rate
        self.epoches = epoches

    def fit(self, X, y):
        n_samples, n_features = X.shape
        
        self.b = 0
        self.W =np.random.randn(n_features)
    
        for _ in range(self.epoches):
            y_pred = X @ self.W + self.b

            self.b -= self.learning_rate * (2 * np.sum(y_pred - y) / n_samples)
            self.W -= self.learning_rate * (2 * (X.T @ (y_pred - y)) / n_samples)
        
    def predict(self, X):
        return X @ self.W + self.b

In [7]:
def mean(y, y_pred):
    return (y.to_numpy() - y_pred.to_numpy()).mean()

In [8]:
def std(y, y_pred):
    return (y.to_numpy() - y_pred.to_numpy()).std()

In [9]:
def r2_score(y, y_pred):
   return sklearn.metrics.r2_score(y, y_pred)

In [10]:
def mean_squared_error(y, y_pred):
   return sklearn.metrics.mean_squared_error(y.to_numpy(), y_pred.to_numpy(), squared=False)

In [11]:
from sklearn.model_selection import KFold

columns = (
    [i + j for i in ["E", "STD", "R2", "RMSE"] for j in ["-train", "-test"]]
    + [f"w_{i}" for i in range(54)]
)

results = pd.DataFrame(columns=columns)

for train_index, test_index in KFold(shuffle=True).split(X_train):
    X_train_fold, y_train_fold = X_train.iloc[train_index], y_train.iloc[train_index]
    X_test_fold, y_test_fold = X_train.iloc[test_index], y_train.iloc[test_index]

    model = LinearRegression(learning_rate=0.05, epoches=100)
    model.fit(X_train_fold, y_train_fold)

    y_pred_train_fold = model.predict(X_train_fold)
    y_pred_test_fold = model.predict(X_test_fold)

    df_fold = pd.DataFrame(
        [
            [
                mean(y_train_fold, y_pred_train_fold),
                mean(y_test_fold, y_pred_test_fold),
                std(y_train_fold, y_pred_train_fold),
                std(y_test_fold, y_pred_test_fold),
                r2_score(y_train_fold, y_pred_train_fold),
                r2_score(y_test_fold, y_pred_test_fold),
                mean_squared_error(y_train_fold, y_pred_train_fold),
                mean_squared_error(y_test_fold, y_pred_test_fold),
            ]
            + [model.b]
            + list(model.W)
        ],
        columns=columns
    )

    results = pd.concat([results, df_fold], ignore_index=True)

results.apply(lambda s: s.apply('{0:.5f}'.format))

    E-train    E-test STD-train  ...      w_51      w_52      w_53
0   0.00036  -0.45990  30.88217  ...  -0.30409  -0.15322  -0.37699
1  -0.00000  -0.21614  29.42222  ...   0.24685   0.17009  -0.07754
2   0.00062   0.74001  27.98698  ...   0.10992   0.07922  -0.36269
3   0.00047  -0.40980  29.49900  ...   0.26010   0.47760   0.29573
4   0.00022   0.22046  28.28943  ...  -1.01296  -0.92135  -1.03841

[5 rows x 62 columns]